<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Active assets</title>
  <meta name="author" content="GitHub @hugotms">
  <meta http-equiv="refresh" content="60">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div style="height: 100%;">
    <div style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      background-color: black;
      margin: 0 auto;
      border: 0;
      width: 100%;
    ">
      <nav class="navbar">
          <div class="nav-wrapper black">
              <a href="index.html" class="brand-logo center">Trader</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="hide-on-med-and-down">
                  <li><a href="index.html">Actives</a></li>
                  <li><a href="profitables.html">Proftables</a></li>
                  <li><a href="account.html">Account</a></li>
              </ul>
          </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
          <li><a href="index.html">Actives</a></li>
          <li><a href="profitables.html">Proftables</a></li>
          <li><a href="account.html">Account</a></li>
      </ul>
    </div>
    <br>
    <div style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
    ">
      <div>
        <h3>&#128200; Active assets &#128201;</h3>
      </div>
    </div>
    <div style="
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    ">
{% for asset in list %}
      <div style="
        width: calc(50% - 10px);
        margin-bottom: 10px;
      ">
        <div style="
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          border-radius: 5px;
          width: 100%;
        ">
          <div style="
            padding: 2px 16px;
          ">
            <h4>{{ asset.instrument_code }}</h4>
            <p>Placed: {{ asset.placed | round(asset.precision) }}€</p>
            <p>Current: {{ asset.current | round(asset.precision) }}€</p>
            <p>Higher: {{ asset.higher | round(asset.precision) }}€</p>
            <p>Last price: {{ asset.last_price | round(asset.precision) }}€</p>
            <p>HIST: {{ (asset.macd - asset.signal) | round(asset.precision) }}€</p>
            <p>RSI: {{ asset.rsi | round(1) }}</p>
            <p>%K: {{ asset.stochastic_k | round(1) }}</p>
            <p>%D: {{ asset.stochastic_d | round(1) }}</p>
          </div>
          <div style="
            padding: 2px 16px;
          ">
            <h4>{{ ((1 - asset.current / asset.placed) * -100) | round(2) }}%</h4>
          </div>
        </div>
      </div>
{% endfor %}
    </div>
    <div style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-color: black;
      margin: 0 auto;
      border: 0;
      position: fixed;
      bottom: 0;
      width: 100%;
    ">
      <p style="color: white;">
        Author: <a href="https://github.com/hugotms" target="_blank" style="text-decoration: none;">@hugotms</a>
      </p>
    </div>
    <script type="text/javascript">
        M.AutoInit();
    </script>
  </div>
</body>
</html>
