<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CryptoBot daily reports</title>
  <meta name="author" content="GitHub @hugotms">
</head>
<body>
  <div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    border: 0;
    width: 100%;
  ">
    <h1 style="color: white;">Trader</h1>
  </div>
{{ body }}
  <div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    border: 0;
    width: 100%;
  ">
    <p style="color: white;">
      Author: <a href="https://github.com/hugotms" target="_blank" style="text-decoration: none;">@hugotms</a>
    </p>
  </div>
</body>
</html>