<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profitable assets</title>
  <meta name="author" content="GitHub @hugotms">
  <meta http-equiv="refresh" content="60">
</head>
<body>
  <div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    border: 0;
    width: 100%;
  ">
    <a href="index.html" style="text-decoration: none;"><h1 style="color: white;">Trader</h1></a>
  </div>
  <br>
  <div style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  ">
    <div>
      <h2>&#129297; Profitable assets &#129297;</h2>
    </div>
    <div>
      <a href="index.html" style="
        display: inline-block;
        padding: 0.5em 1em;
        border: none;
        border-radius: 4px;
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
      ">
        Back to active assets
      </a>
    </div>
  </div>
  <div style="
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  ">
{% for asset in list %}
    <div style="
      width: calc(50% - 10px);
      margin-bottom: 10px;
    ">
      <div style="
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        width: 100%;
      ">
        <div style="
          padding: 2px 16px;
        ">
          <h3>{{ asset.instrument_code }}</h3>
          <p>Last price: {{ asset.last_price }}</p>
          <p>FMA: {{ asset.fma }}</p>
          <p>SMA: {{ asset.sma }}</p>
          <p>RSI: {{ asset.rsi | round(1) }}</p>
          <p>Danger: {{ asset.danger }}</p>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
  <div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    border: 0;
    width: 100%;
  ">
    <p style="color: white;">
      Author: <a href="https://github.com/hugotms" target="_blank" style="text-decoration: none;">@hugotms</a>
    </p>
  </div>
</body>
</html>
