  <div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  ">
    <h2>&#128295 Update available ! &#128295 </h2>
  </div>
  <pre style="text-align: justify; white-space: pre-line;">{{ text }}</pre>
  <br>
  <p>Find out more by clicking <a href="https://github.com/hugotms/trader/releases/" target="_blank">here</a>.</p>
  <p>Also, feel free to read the 
  <a href="https://github.com/hugotms/trader/blob/master/README.md" target="_blank">documentation</a> if you have any questions.</p>